.toastui-editor-dark .toastui-editor-contents .toastui-editor-md-preview-highlight::after {
  background-color: rgba(255, 250, 193, 0.5);
}

.toastui-editor-dark .toastui-editor-contents th.toastui-editor-md-preview-highlight,
.toastui-editor-dark .toastui-editor-contents td.toastui-editor-md-preview-highlight {
  background-color: rgba(255, 250, 193, 0.5);
}

.toastui-editor-dark .toastui-editor-contents th.toastui-editor-md-preview-highlight {
  color: #fff;
}

.toastui-editor-dark .toastui-editor-contents th.toastui-editor-md-preview-highlight,
.toastui-editor-dark .toastui-editor-contents td.toastui-editor-md-preview-highlight {
  background-color: rgba(255, 250, 193, 0.25);
}

.toastui-editor-dark .toastui-editor-contents .toastui-editor-md-preview-highlight::after {
  background-color: rgba(255, 250, 193, 0.25);
}