{
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "jasmine": true,
    "jquery": true
  },
  "globals": {
    "ne": true,
    "loadFixtures": true
  },
  "rules": {
    "strict": [2, "global"],

    //Possible Errors
    "comma-dangle": [2, "never"],
    "no-console": 1,
    "no-constant-condition": 1,
    "no-debugger": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-dupe-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "quote-props": [2, consistent],
    "no-unreachable": 2,
    "valid-jsdoc": [2, {
        "requireReturn": false
    }],
    "valid-typeof": 1,
    "no-unexpected-multiline": 2,


    //Best Practices
    "no-fallthrough": 1,
    "block-scoped-var": 2,
    "complexity": 1,
    "default-case": 2,
    "guard-for-in": 2,
    "no-else-return": 1,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-self-compare": 1,
    "no-warning-comments": 1,
    "no-new": 1,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "any"],

    //Variables
    "no-undef": 2,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": 2,

    //Stylistic Issues
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "eol-last": 1,
    "new-cap": 2,
    "no-array-constructor": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": 2,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "one-var": 0,
    "padded-blocks": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-in-parens": 2,

    //Node.js
    "no-mixed-requires": [2, true],

    //Legacy
    "no-plusplus": 2
  }
}
