@charset "UTF-8";

html.neonEditor-content {
    height: 100%;
}

.neonEditor-content body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    background: transparent;
    color: #2b2b2b;
    font: 13px/1.35 Helvetica, arial, sans-serif;
    cursor: text;
}
.neonEditor-content a {
    text-decoration: underline;
}
.neonEditor-content h1 {
    font-size: 138.5%;
}
.neonEditor-content h2 {
    font-size: 123.1%;
}
.neonEditor-content h3 {
    font-size: 108%;
}
.neonEditor-content h1,h2,h3,p {
    margin: 1em 0;
}
.neonEditor-content h4,h5,h6 {
    margin: 0;
}
.neonEditor-content ul, ol {
    margin: 0 1em;
    padding: 0 1em;
}
.neonEditor-content blockquote {
    border-left: 2px solid blue;
    margin: 0;
    padding: 0 10px;
}
