@charset "UTF-8";
.editor-container * {
    box-sizing: content-box;
}
.editor-container:after,
.editor-container .toolbar:after,
.editor-container .statusbar:after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.editor-container {
    border: 1px solid #ccc;
}
.editor-container .toolbar {
    padding: 5px;
    height: 30px;
    background: #eee;
}
.editor-container.preview-style-vetical .toolbar {
    border-bottom: 1px solid #ccc;
}
.editor-container .toolbar button {
    box-sizing: border-box;
    min-width: 30px;
    height: 30px;
    background: white;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    outline: none;
    cursor: pointer;
}
.editor-container .toolbar button:hover {
    background: #eee;
}
.editor-container .toolbar button:active {
    box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.1), inset 0 0 1px rgba(9,9,9,0.1);
}
.editor-container .toolbar button:first-child {
    border-left-width: 1px;
}
.editor-container .toolbar button.bold {
    font-weight: bold;
}
.editor-container .toolbar button.italic {
    font-style: italic;
}
.editor-container .tab{
    display:none;
    padding: 0 5px;
    background: #eee;
    border-bottom: 1px solid #ccc;
}
.editor-container .tab button {
    box-sizing: border-box;
    padding: 5px;
    height: 23px;
    font-size: 11px;
    line-height: 100%;
    background: #ddd;
    border: 1px solid #ccc;
    position: relative;
    top: 1px;
    left: -1px;
    outline: none;
    cursor: pointer;
}
.editor-container .tab button:first-child {
    left: 0;
}
.editor-container .tab button.active,
.editor-container .tab button:hover.active {
    background: white;
    border-bottom-color: white;
}

.editor-container .tab button:hover {
    background: #eee;
}

.editor-container>.editor,
.editor-container>.preview {
    box-sizing: border-box;
    height:400px;
    overflow: auto;
}
.editor-container>.editor>.CodeMirror {
    height: 100%;
}
.editor-container>.preview {
    padding: 5px;
}
.editor-container.preview-style-tab>.editor,
.editor-container.preview-style-tab>.preview {
    float: left;
    width: 100%;
    display: none;
}
.editor-container.preview-style-tab>.active {
    display: block;
}
.editor-container.preview-style-vertical>.editor,
.editor-container.preview-style-vertical>.preview {
    width: 50%;
}
.editor-container.preview-style-vertical>.editor {
    float: left;
    border-right: 1px solid #ccc;
}
.editor-container.preview-style-vertical>.preview {
    float: right;
    padding: 5px;
}
.editor-container.preview-style-tab .tab{
    display:block;
}

.editor-container.preview-style-vertical .toolbar {
    border-bottom: 1px solid #ccc;
}

.editor-container.preview-style-vertical .editor {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
}

.editor-container.preview-style-vertical .preview {
    float: left;
    width: 50%;
}
.nepopup-wrapper {
    width: 500px;
    left: auto;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: white;
    z-index: 9999;
}

.nepopup-header {
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}

.nepopup-body {
    padding: 15px;
}

.nepopup-header .nepopup-closeButton {
    float: right;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1;
    background: none;
    font-weight: bold;
    font-size: 20px;
    color: #aaa;
}

.nepopup-header .nepopup-title {
    font-size: 20px;
    font-weight:bold;
    vertical-align: baseline;
}

.neditor-popup {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -250px;
}

.neditor-popup label {
    display: block;
}

.buttonSection {
    margin-top: 15px;
}


.popupAddImage .tab {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.popupAddImage .urlType {
    display: none;
}
.popupAddImage .fileType {
    display: none;
}
.popupAddImage div.active,
.popupAddImage form.active{
    display: block;
}
.popupAddImage .tab button {
    border: none;
    background: none;
}
