@charset "UTF-8";

/*.tui-editor-contents {*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*font-family: "나눔고딕", "Nanum Gothic", "Apple SD Gothic Neo", "돋움", dotum, sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.6;*/
    /*background-color: white;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*cursor: text;*/
    /*color: #181818;*/
/*}*/

/*.tui-editor-contents * {*/
    /*margin:0;*/
    /*padding:0;*/
    /*word-break: break-all;*/
/*}*/

/*.tui-editor-contents > *:first-child {*/
    /*margin-top: 0 !important;*/
/*}*/

/*.tui-editor-contents > *:last-child {*/
    /*margin-bottom: 0 !important;*/
/*}*/

/*.tui-editor-contents a {*/
    /*color: #4183C4;*/
/*}*/

/*.tui-editor-contents h1,*/
/*.tui-editor-contents h2,*/
/*.tui-editor-contents h3,*/
/*.tui-editor-contents h4,*/
/*.tui-editor-contents h5,*/
/*.tui-editor-contents h6 {*/
    /*margin: 20px 0 10px;*/
    /*padding: 0;*/
    /*font-weight: bold;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*cursor: text;*/
    /*position: relative;*/
/*}*/

/*.tui-editor-contents h1 {*/
    /*font-size: 28px;*/
    /*color: black;*/
/*}*/

/*.tui-editor-contents h2 {*/
    /*font-size: 24px;*/
    /*border-bottom: 1px solid #cccccc;*/
    /*color: black;*/
/*}*/

/*.tui-editor-contents h3 {*/
    /*font-size: 18px;*/
/*}*/

/*.tui-editor-contents h4 {*/
    /*font-size: 16px;*/
/*}*/

/*.tui-editor-contents h5 {*/
    /*font-size: 14px;*/
/*}*/

/*.tui-editor-contents h6 {*/
    /*color: #777777;*/
    /*font-size: 14px;*/
/*}*/

/*.tui-editor-contents p,*/
/*.tui-editor-contents blockquote,*/
/*.tui-editor-contents ul,*/
/*.tui-editor-contents ol,*/
/*.tui-editor-contents dl,*/
/*.tui-editor-contents table,*/
/*.tui-editor-contents pre {*/
    /*margin: 15px 0;*/
/*}*/

.tui-editor-contents blockquote {
    margin: 15px 0;
}

/*.tui-editor-contents li ul,*/
/*.tui-editor-contents li ol {*/
    /*margin: 0 0;*/
/*}*/

/*.tui-editor-contents hr {*/
    /*display:block;*/
    /*height: 1px;*/
    /*padding: 0;*/
    /*margin: 10px 0;*/
    /*border: 0;*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
/*}*/

/*.tui-editor-contents body > h2:first-child {*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/
/*.tui-editor-contents body > h1:first-child {*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/
/*.tui-editor-contents body > h1:first-child + h2 {*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/

/*.tui-editor-contents body > h3:first-child,*/
/*.tui-editor-contents body > h4:first-child,*/
/*.tui-editor-contents body > h5:first-child,*/
/*.tui-editor-contents body > h6:first-child {*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/

/*.tui-editor-contents a:first-child h1,*/
/*.tui-editor-contents a:first-child h2,*/
/*.tui-editor-contents a:first-child h3,*/
/*.tui-editor-contents a:first-child h4,*/
/*.tui-editor-contents a:first-child h5,*/
/*.tui-editor-contents a:first-child h6 {*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/

/*.tui-editor-contents h1 p,*/
/*.tui-editor-contents h2 p,*/
/*.tui-editor-contents h3 p,*/
/*.tui-editor-contents h4 p,*/
/*.tui-editor-contents h5 p,*/
/*.tui-editor-contents h6 p {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents li p.first {*/
    /*display: inline-block;*/
/*}*/

/*.tui-editor-contents ul,*/
/*.tui-editor-contents ol {*/
    /*padding-left: 30px;*/
/*}*/

/*.tui-editor-contents ul :first-child,*/
/*.tui-editor-contents ol :first-child {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents ul ul,*/
/*.tui-editor-contents ol ol {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents li.task-list-item {*/
    /*list-style-type: none;*/
/*}*/

/*.tui-editor-contents .task-list-item input {*/
    /*margin-left: -1.5em;*/
/*}*/

/*.tui-editor-contents ul :last-child,*/
/*.tui-editor-contents ol :last-child {*/
    /*margin-bottom: 0;*/
/*}*/

/*.tui-editor-contents dl {*/
    /*padding: 0;*/
/*}*/

/*.tui-editor-contents dl dt {*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    /*padding: 0;*/
    /*margin: 15px 0 5px;*/
/*}*/

/*.tui-editor-contents dl dt:first-child {*/
    /*padding: 0;*/
/*}*/

/*.tui-editor-contents dl dt > :first-child {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents dl dt > :last-child {*/
    /*margin-bottom: 0;*/
/*}*/

/*.tui-editor-contents dl dd {*/
    /*margin: 0 0 15px;*/
    /*padding: 0 15px;*/
/*}*/

/*.tui-editor-contents dl dd > :first-child {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents dl dd > :last-child {*/
    /*margin-bottom: 0;*/
/*}*/

.tui-editor-contents blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.tui-editor-contents blockquote > :first-child {
    margin-top: 0;
}

.tui-editor-contents  blockquote > :last-child {
    margin-bottom: 0;
}

/*.tui-editor-contents table {*/
    /*display: table;*/
    /*width: auto;*/
    /*padding: 0;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/

/*.tui-editor-contents table th,*/
/*.tui-editor-contents table td {*/
    /*vertical-align: middle*/
/*}*/

/*.tui-editor-contents table tr {*/
    /*border-top: 1px solid #cccccc;*/
    /*background-color: white;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.tui-editor-contents table tr th {*/
    /*font-weight: bold;*/
    /*border: 1px solid #cccccc;*/
    /*text-align: left;*/
    /*margin: 0;*/
    /*padding: 6px 13px;*/
    /*background-color: #f8f8f8;*/
/*}*/

/*.tui-editor-contents table tr td {*/
    /*margin: 0;*/
    /*padding: 6px 13px;*/
    /*border: 1px solid #cccccc;*/
    /*text-align: left;*/
/*}*/

/*.tui-editor-contents table tr th :first-child,*/
/*.tui-editor-contents table tr td :first-child {*/
    /*margin-top: 0;*/
/*}*/

/*.tui-editor-contents table tr th :last-child,*/
/*.tui-editor-contents table tr td :last-child {*/
    /*margin-bottom: 0;*/
/*}*/

/*.tui-editor-contents img {*/
    /*max-width: 100%;*/
/*}*/

/*.tui-editor-contents code{*/
    /*margin: 0 2px;*/
    /*padding: 0 5px;*/
    /*white-space: nowrap;*/
    /*border: 1px solid #eaeaea;*/
    /*background-color: #f8f8f8;*/
    /*border-radius: 3px;*/
    /*font-family: Menlo,Monaco,Consolas,"Courier New",monospace;*/
/*}*/

/*.tui-editor-contents pre code {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*white-space: pre;*/
    /*border: none;*/
    /*background: transparent;*/
/*}*/

/*.tui-editor-contents .highlight pre {*/
    /*background-color: #f8f8f8;*/
    /*border: 1px solid #cccccc;*/
    /*font-size: 13px;*/
    /*line-height: 19px;*/
    /*overflow: auto;*/
    /*padding: 6px 10px;*/
    /*border-radius: 3px;*/
/*}*/

/*.tui-editor-contents pre {*/
    /*background-color: #f8f8f8;*/
    /*border: 1px solid #cccccc;*/
    /*font-size: 13px;*/
    /*line-height: 19px;*/
    /*padding: 6px 10px;*/
    /*border-radius: 3px;*/
/*}*/

/*.tui-editor-contents pre code{*/
    /*background-color: transparent;*/
    /*border: none;*/
/*}*/

/*.tui-editor-contents strong {*/
    /*font-weight: bold;*/
/*}*/

/*.tui-editor-contents em {*/
    /*font-style: italic;*/
/*}*/


.tui-editor-contents,
.CodeMirror {
    font-family: "Apple SD 산돌고딕 Neo", -apple-system, "Lucida Grande", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "Segoe UI", "돋움", dotum, sans-serif;
}

.tui-editor-contents *:not(table) {
    line-height: 160%;
    box-sizing: content-box;
}

.tui-editor-contents i,
.tui-editor-contents cite,
.tui-editor-contents em,
.tui-editor-contents var,
.tui-editor-contents address,
.tui-editor-contents dfn {
    font-style: italic;
}

.tui-editor-contents strong {
    font-weight: bold;
}

.tui-editor-contents p {
    margin: 10px 0;
    color: #555;
}

.tui-editor-contents > h1:first-of-type,
.tui-editor-contents > div > div:first-of-type h1 {
      margin-top: 14px;
}

.tui-editor-contents h1,
.tui-editor-contents h2,
.tui-editor-contents h3,
.tui-editor-contents h5 {
    font-weight: bold;
}

.tui-editor-contents h1 {
    font-size: 1.6rem;
    line-height: 28px;
    border-bottom: 3px double #999;
    margin: 52px 0 15px 0;
    padding-bottom: 7px;
    color: #000;
}

.tui-editor-contents h2 {
    font-size: 1.3rem;
    line-height: 23px;
    border-bottom: 1px solid #dbdbdb;
    margin: 30px 0 13px 0;
    padding-bottom: 7px;
    color: #333;
}

.tui-editor-contents h3,
.tui-editor-contents h4 {
    font-size: 1.2rem;
    line-height: 18px;
    margin: 20px 0 2px;
    color: #333;
}

.tui-editor-contents h5,
.tui-editor-contents h6 {
    font-size: 1rem;
    line-height: 17px;
    margin: 10px 0 -4px;
    color: #333;
}

/*.tui-editor-contents blockquote {*/
    /*font-size: inherit;*/
    /*padding: 0 49px;*/
    /*font-style: italic;*/
    /*margin: 5px 0;*/
    /*border: 0;*/
    /*display: inline-block;*/
    /*position: relative;*/
/*}*/

/*.tui-editor-contents blockquote p {*/
    /*margin: 0;*/
    /*color: #999;*/
/*}*/
/*.tui-editor-contents blockquote p:not(:first-of-type) {*/
    /*margin-top: 10px;*/
/*}*/

/*.tui-editor-contents blockquote:before {*/
    /*content: url(/assets/images/quotation.png);*/
    /*position: absolute;*/
    /*left: 17px;*/
/*}*/

/*.tui-editor-contents blockquote:after {*/
    /*content: url(/assets/images/quotation_02.png);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 17px;*/
/*}*/

.tui-editor-contents pre {
    margin: 2px 0 8px;
    padding: 18px;
    background-color: #f5f7f8;
    border: 0;
    border-radius: 0;
}

.tui-editor-contents pre * {
    font-family: Consolas, Courier, "Apple SD 산돌고딕 Neo", -apple-system, "Lucida Grande", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "Segoe UI", "돋움", dotum, sans-serif;
}

.tui-editor-contents code {
    color: #c1788b;
    border: 0;
    border-radius: 0;
    padding: 4px 4px 2px 0;
    letter-spacing: -0.3px;
    font-family: Consolas, Courier, "Apple SD 산돌고딕 Neo", -apple-system, "Lucida Grande", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "Segoe UI", "돋움", dotum, sans-serif;
}

.tui-editor-contents pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
}

.tui-editor-contents pre.addon {
    border: 1px solid #e8ebed;
    background-color: #fff;
}

.tui-editor-contents img {
    margin: 4px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    max-width: 100%;
}

.tui-editor-contents table {
    margin: 2px 0 14px;
    width: 100%;
    color: #555;
    border-collapse: collapse;
    display: block;
    box-sizing: border-box;
}

.tui-editor-contents table th,
.tui-editor-contents table td {
    min-height: 32px;
    padding: 5px 14px 5px 12px;
    text-align: left;
}

.tui-editor-contents table td {
    border: 1px solid #eaeaea;
}

.tui-editor-contents table th {
    border: 1px solid #72777b;
    border-top: 0;
    background-color: #7b8184;
    font-weight: 300;
    color: #fff;
    padding-top: 6px;
}

.tui-editor-contents ul,
.tui-editor-contents menu,
.tui-editor-contents ol,
.tui-editor-contents dir {
    display: block;
    list-style-type: disc;
    padding-left: 17px;
    margin: 6px 0 10px;
    color: #555;
}

.tui-editor-contents ol {
    list-style-type: decimal;
}

.tui-editor-contents ul ul,
.tui-editor-contents ul ol,
.tui-editor-contents ol ol,
.tui-editor-contents ol ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tui-editor-contents ul li {
    position: relative;
}

.tui-editor-contents ul p, ol p {
    margin: 0;
}

.tui-editor-contents ul li.task-list-item:before,
.tui-editor-contents pre ul li:before {
    content: "";
}

.tui-editor-contents > ul > li > ul,
.tui-editor-contents > ul > li > ol,
.tui-editor-contents > ol > li > ul,
.tui-editor-contents > ol > li > ol {
      margin-bottom: 6px !important;
}

.tui-editor-contents hr {
    border-top: 1px solid #eee;
    margin: 16px 0;
}

.tui-editor-contents a {
    text-decoration: underline;
    color: #5286bc;
}

.tui-editor-contents a:hover {
    color: #007cff;
}

.tui-editor-contents .task-list-item {
    border: 0;
    list-style: none;
    cursor: pointer;
}

.tui-editor-contents .task-list-item input[type='checkbox'],
.tui-editor-contents .task-list-item .task-list-item-checkbox {
    margin-left: -17px;
    margin-right: 3.8px;
    margin-top: 3px;
}

.tui-editor-contents {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
