{
    "extends": [
        "tui/es6",
        "plugin:vue/base"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "plugins": [
        "vue"
    ]
}
